In [10]:
import pandas as pd
from pathlib import Path
from datetime import datetime

In [13]:
data_dir = Path("dane/pogoda/") 

data_list = []
for file in data_dir.glob("*.xlsx"):
    temp_df = pd.read_excel(file)
    temp_df['nazwa_pliku'] = file.as_posix()
    data_list.append(temp_df)

In [3]:
len(data_list)

9

In [6]:
data_list[2]

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date
0,1756764092,18.23,18.30,17.13,18.95,1011,84,1.54,2025-09-02 00:01:32,2025-09-02
1,1756764122,18.23,18.30,17.13,18.95,1011,84,1.54,2025-09-02 00:02:02,2025-09-02
2,1756764182,18.23,18.30,17.13,18.95,1011,84,1.54,2025-09-02 00:03:02,2025-09-02
3,1756764423,18.23,18.30,17.13,18.95,1011,84,1.03,2025-09-02 00:07:03,2025-09-02
4,1756764513,18.23,18.30,17.13,18.95,1011,84,1.03,2025-09-02 00:08:33,2025-09-02
...,...,...,...,...,...,...,...,...,...,...
608,1756849976,22.34,22.51,21.24,23.42,1010,72,2.24,2025-09-02 23:52:56,2025-09-02
609,1756850036,22.34,22.51,21.24,23.42,1010,72,2.24,2025-09-02 23:53:56,2025-09-02
610,1756850066,22.34,22.51,21.24,23.42,1010,72,2.24,2025-09-02 23:54:26,2025-09-02
611,1756850097,22.34,22.51,21.24,23.42,1010,72,3.13,2025-09-02 23:54:57,2025-09-02
612,1756850187,22.34,22.51,21.24,23.42,1010,72,3.13,2025-09-02 23:56:27,2025-09-02

In [14]:
big_df = pd.concat( data_list )

In [15]:
big_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
0,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
1,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
2,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
...,...,...,...,...,...,...,...,...,...,...,...
4555,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx
4556,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx
4557,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx
4558,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx
4559,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx

In [16]:
big_df.to_excel("dane/pogoda/big.xlsx", index=False)

In [ ]:
# wszystko w jednej linijce
pd.concat( [pd.read_excel(file) for file in data_dir.glob("*.xlsx")] ).to_excel("dane/pogoda/big.xlsx", index=False)