In [58]:
import pandas as pd
import statistics

In [2]:
pogoda_df = pd.read_excel("dane/pogoda/big.xlsx")
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx

In [3]:
def pora_dnia(g):
    # 6-10 - rano
    # 11-14 - południe
    # 15-18 - popołudnie
    # 19-22 - wieczór
    # 23-5 - noc

    # if g > 6 and g <= 10:
    if 6 < g <= 10:
        return "rano"
    elif 11 <= g < 14:
        return "południe"
    elif 15 <= g < 18:
        return "popołudnie"
    elif 19 <= g < 21:
        return "wieczór"
    else:
        return "noc"

In [9]:
pogoda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9120 entries, 0 to 9119
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    9120 non-null   int64
 1   temp         9120 non-null   float64
 2   temp_feels   9120 non-null   float64
 3   temp_min     9120 non-null   float64
 4   temp_max     9120 non-null   float64
 5   pressure     9120 non-null   int64
 6   humidity     9120 non-null   int64
 7   wind_speed   9120 non-null   float64
 8   datetime     9120 non-null   datetime64[ns]
 9   date         9120 non-null   datetime64[ns]
 10  nazwa_pliku  9120 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(3), object(1)
memory usage: 783.9+ KB

In [13]:
pogoda_df['hour'] = pogoda_df['datetime'].dt.hour

In [14]:
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,hour
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,23
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,23
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx,13
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx,13
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx,13
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx,13
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx,13

In [16]:
pogoda_df['pora_dnia'] = pogoda_df['hour'].map(pora_dnia)
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,hour,pora_dnia
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,23,noc
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,23,noc
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0,noc
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0,noc
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0,noc
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx,13,południe
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx,13,południe
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx,13,południe
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx,13,południe
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx,13,południe

In [22]:
# grupowanie

pogoda_df.groupby('pora_dnia', as_index=False).aggregate(

        {
            "temp": "mean",
            "pressure": "min"
        }
    
)

    pora_dnia       temp  pressure
0         noc  18.916757      1008
1  popołudnie  24.201413      1007
2    południe  23.078143      1008
3        rano  19.194688      1009
4     wieczór  21.308329      1008

In [26]:
pogoda_df.groupby('pora_dnia', as_index=False).aggregate(
        {
            "temp": ["min", "mean", "max"],
            "pressure": ["min", "max", "mean"],
        }
)

    pora_dnia   temp                   pressure
                 min       mean    max      min   max         mean
0         noc  14.58  18.916757  30.37     1008  1022  1015.460728
1  popołudnie  19.10  24.201413  30.64     1007  1022  1014.915596
2    południe  16.13  23.078143  31.16     1008  1022  1015.821124
3        rano  15.52  19.194688  26.07     1009  1022  1016.028678
4     wieczór  17.59  21.308329  26.57     1008  1022  1015.219020

In [32]:
pogoda_df.groupby('pora_dnia', as_index=False).aggregate(
        {
            "temp": ["min", "mean", "max"],
            "pressure": ["min", "max", "mean"],
        }
).droplevel(level=1, axis=1)

    pora_dnia   temp       temp   temp  pressure  pressure     pressure
0         noc  14.58  18.916757  30.37      1008      1022  1015.460728
1  popołudnie  19.10  24.201413  30.64      1007      1022  1014.915596
2    południe  16.13  23.078143  31.16      1008      1022  1015.821124
3        rano  15.52  19.194688  26.07      1009      1022  1016.028678
4     wieczór  17.59  21.308329  26.57      1008      1022  1015.219020

In [39]:
pogoda_agg_df = pogoda_df.groupby('pora_dnia', as_index=False).aggregate(
        {
            "temp": ["min", "mean", "max"],
            "pressure": ["min", "max", "mean"],
        }
)

new_column_names = [f"{k[0]}_{k[1]}" for k in pogoda_agg_df.columns]
pogoda_agg_df = pogoda_agg_df.droplevel(level=1, axis=1)
pogoda_agg_df.columns = new_column_names
pogoda_agg_df

,pora_dnia_,temp_min,temp_mean,temp_max,pressure_min,pressure_max,pressure_mean
0,noc,14.58,18.916757,30.37,1008,1022,1015.460728
1,popołudnie,19.10,24.201413,30.64,1007,1022,1014.915596
2,południe,16.13,23.078143,31.16,1008,1022,1015.821124
3,rano,15.52,19.194688,26.07,1009,1022,1016.028678
4,wieczór,17.59,21.308329,26.57,1008,1022,1015.219020

In [41]:
pogoda_df.groupby('pora_dnia', as_index=False).aggregate(
        {
            "temp": ["min", "mean", "max", "count"],
            "pressure": ["min", "max", "mean", "size"],
        }
)

    pora_dnia   temp                         pressure
                 min       mean    max count      min   max         mean  size
0         noc  14.58  18.916757  30.37  4558     1008  1022  1015.460728  4558
1  popołudnie  19.10  24.201413  30.64  1090     1007  1022  1014.915596  1090
2    południe  16.13  23.078143  31.16  1174     1008  1022  1015.821124  1174
3        rano  15.52  19.194688  26.07  1604     1009  1022  1016.028678  1604
4     wieczór  17.59  21.308329  26.57   694     1008  1022  1015.219020   694

In [44]:
pogoda_df.groupby('pora_dnia', as_index=False).count()

,pora_dnia,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,hour
0,noc,4558,4558,4558,4558,4558,4558,4558,4558,4558,4558,4558,4558
1,popołudnie,1090,1090,1090,1090,1090,1090,1090,1090,1090,1090,1090,1090
2,południe,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174
3,rano,1604,1604,1604,1604,1604,1604,1604,1604,1604,1604,1604,1604
4,wieczór,694,694,694,694,694,694,694,694,694,694,694,694

In [46]:
pogoda_df.groupby( ['date', 'pora_dnia'], as_index=False).size()

         date   pora_dnia  size
0  2025-08-31         noc     4
1  2025-09-01         noc   590
2  2025-09-01  popołudnie   144
3  2025-09-01    południe   152
4  2025-09-01        rano   208
5  2025-09-01     wieczór    98
6  2025-09-02         noc   616
7  2025-09-02  popołudnie   158
8  2025-09-02    południe   152
9  2025-09-02        rano   204
10 2025-09-02     wieczór    96
11 2025-09-03         noc   620
12 2025-09-03  popołudnie   162
13 2025-09-03    południe   136
14 2025-09-03        rano   204
15 2025-09-03     wieczór   108
16 2025-09-04         noc   586
17 2025-09-04  popołudnie   170
18 2025-09-04    południe   150
19 2025-09-04        rano   198
20 2025-09-04     wieczór    98
21 2025-09-05         noc   606
22 2025-09-05  popołudnie   140
23 2025-09-05    południe   166
24 2025-09-05        rano   184
25 2025-09-05     wieczór    94
26 2025-09-06         noc   616
27 2025-09-06  popołudnie   152
28 2025-09-06    południe   148
29 2025-09-06        rano   200
30 2025-09-06     wieczór   102
31 2025-09-07         noc   580
32 2025-09-07  popołudnie   164
33 2025-09-07    południe   158
34 2025-09-07        rano   212
35 2025-09-07     wieczór    98
36 2025-09-08         noc   340
37 2025-09-08    południe   112
38 2025-09-08        rano   194

In [47]:
pogoda_df.groupby( ['date', 'pora_dnia'], as_index=False).aggregate(
        {
            "temp": ["min", "mean", "max"],
            "pressure": ["min", "max", "mean"],
        }
)

         date   pora_dnia   temp                   pressure
                             min       mean    max      min   max         mean
0  2025-08-31         noc  19.48  19.560000  19.64     1013  1013  1013.000000
1  2025-09-01         noc  16.46  18.481593  22.13     1010  1013  1011.650847
2  2025-09-01  popołudnie  19.13  21.142500  22.13     1010  1012  1011.111111
3  2025-09-01    południe  16.13  18.027105  19.13     1011  1013  1011.881579
4  2025-09-01        rano  15.89  16.650962  17.89     1012  1013  1012.490385
5  2025-09-01     wieczór  19.55  20.568367  21.49     1010  1011  1010.673469
6  2025-09-02         noc  16.17  20.517890  30.04     1008  1011  1009.785714
7  2025-09-02  popołudnie  27.83  29.048354  29.79     1007  1008  1007.924051
8  2025-09-02    południe  26.14  27.784474  31.16     1008  1010  1008.684211
9  2025-09-02        rano  17.09  21.679804  26.05     1009  1011  1009.901961
10 2025-09-02     wieczór  23.68  24.938125  26.57     1008  1008  1008.000000
11 2025-09-03         noc  16.41  19.004871  22.11     1009  1016  1012.938710
12 2025-09-03  popołudnie  20.23  20.620988  21.21     1014  1015  1014.777778
13 2025-09-03    południe  19.18  19.607206  20.52     1013  1015  1014.720588
14 2025-09-03        rano  18.45  19.086078  19.41     1012  1014  1013.431373
15 2025-09-03     wieczór  18.01  19.151111  20.49     1014  1016  1015.185185
16 2025-09-04         noc  14.58  18.729386  27.18     1015  1017  1015.778157
17 2025-09-04  popołudnie  26.21  27.081176  27.79     1015  1016  1015.035294
18 2025-09-04    południe  23.22  25.401600  27.18     1016  1017  1016.346667
19 2025-09-04        rano  15.52  19.350101  23.24     1016  1017  1016.535354
20 2025-09-04     wieczór  21.64  23.230204  25.24     1015  1016  1015.346939
21 2025-09-05         noc  17.46  20.602442  30.37     1014  1018  1015.768977
22 2025-09-05  popołudnie  25.11  28.321857  30.64     1014  1015  1014.314286
23 2025-09-05    południe  26.24  28.500482  30.73     1015  1016  1015.096386
24 2025-09-05        rano  18.40  22.291630  26.07     1015  1016  1015.565217
25 2025-09-05     wieczór  22.12  23.082766  24.08     1015  1016  1015.531915
26 2025-09-06         noc  17.34  19.203929  24.10     1017  1021  1018.805195
27 2025-09-06  popołudnie  22.07  22.747105  24.26     1019  1020  1019.631579
28 2025-09-06    południe  19.10  22.312297  24.63     1019  1020  1019.662162
29 2025-09-06        rano  18.45  19.161800  21.00     1018  1020  1019.010000
30 2025-09-06     wieczór  18.70  19.650588  21.05     1020  1021  1020.333333
31 2025-09-07         noc  15.88  17.247552  23.40     1020  1022  1021.155172
32 2025-09-07  popołudnie  19.10  20.599756  23.40     1021  1022  1021.146341
33 2025-09-07    południe  17.10  18.308861  21.01     1021  1022  1021.848101
34 2025-09-07        rano  15.60  16.537830  18.43     1021  1022  1021.792453
35 2025-09-07     wieczór  17.59  18.971429  20.35     1020  1022  1021.122449
36 2025-09-08         noc  15.02  16.248412  17.43     1019  1021  1020.111765
37 2025-09-08    południe  22.98  24.352321  25.33     1018  1020  1018.982143
38 2025-09-08        rano  16.08  19.264330  23.23     1019  1020  1019.546392

In [54]:
pogoda_df.groupby('pora_dnia', as_index=False).aggregate( { "temp": "mean" } )

    pora_dnia       temp
0         noc  18.916757
1  popołudnie  24.201413
2    południe  23.078143
3        rano  19.194688
4     wieczór  21.308329

In [56]:
pogoda_df.groupby('pora_dnia', as_index=False)['temp'].mean()

    pora_dnia       temp
0         noc  18.916757
1  popołudnie  24.201413
2    południe  23.078143
3        rano  19.194688
4     wieczór  21.308329

In [57]:
pogoda_df['mean_temp_pora_dnia'] = pogoda_df.groupby('pora_dnia', as_index=False)['temp'].transform('mean')
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,hour,pora_dnia,mean_temp_pora_dnia
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,23,noc,18.916757
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,23,noc,18.916757
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0,noc,18.916757
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0,noc,18.916757
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,0,noc,18.916757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx,13,południe,23.078143
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx,13,południe,23.078143
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx,13,południe,23.078143
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx,13,południe,23.078143
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx,13,południe,23.078143

In [63]:
def agregator(lista_wartosci_x):
    #  print(lista_wartosci_x)
    return statistics.stdev(lista_wartosci_x)

In [65]:
pogoda_df.groupby('pora_dnia', as_index=False).aggregate( { "temp": agregator } )

0       19.64
1       19.48
2       19.48
3       19.45
4       19.35
        ...
8962    15.29
8963    15.43
8964    15.56
8965    15.76
8966    15.84
Name: temp, Length: 4558, dtype: float64
378     19.13
379     19.13
380     19.13
381     20.13
382     20.13
        ...
8646    21.84
8647    21.81
8648    21.84
8649    21.54
8650    21.54
Name: temp, Length: 1090, dtype: float64
275     16.13
276     16.13
277     16.13
278     17.83
279     17.83
        ...
9115    25.17
9116    25.21
9117    25.31
9118    25.31
9119    25.31
Name: temp, Length: 1174, dtype: float64
171     16.68
172     16.48
173     16.48
174     16.48
175     16.48
        ...
9059    23.05
9060    23.11
9061    23.23
9062    23.23
9063    23.07
Name: temp, Length: 1604, dtype: float64
477     21.13
478     21.13
479     21.13
480     21.13
481     21.13
        ...
8723    17.88
8724    17.85
8725    17.74
8726    17.63
8727    17.59
Name: temp, Length: 694, dtype: float64

    pora_dnia      temp
0         noc  3.040210
1  popołudnie  3.631610
2    południe  4.143899
3        rano  2.571484
4     wieczór  2.344593

In [64]:
pogoda_df.groupby('pora_dnia', as_index=False)["temp"].transform(agregator)

0       19.64
1       19.48
2       19.48
3       19.45
4       19.35
        ...
8962    15.29
8963    15.43
8964    15.56
8965    15.76
8966    15.84
Name: noc, Length: 4558, dtype: float64
378     19.13
379     19.13
380     19.13
381     20.13
382     20.13
        ...
8646    21.84
8647    21.81
8648    21.84
8649    21.54
8650    21.54
Name: popołudnie, Length: 1090, dtype: float64
275     16.13
276     16.13
277     16.13
278     17.83
279     17.83
        ...
9115    25.17
9116    25.21
9117    25.31
9118    25.31
9119    25.31
Name: południe, Length: 1174, dtype: float64
171     16.68
172     16.48
173     16.48
174     16.48
175     16.48
        ...
9059    23.05
9060    23.11
9061    23.23
9062    23.23
9063    23.07
Name: rano, Length: 1604, dtype: float64
477     21.13
478     21.13
479     21.13
480     21.13
481     21.13
        ...
8723    17.88
8724    17.85
8725    17.74
8726    17.63
8727    17.59
Name: wieczór, Length: 694, dtype: float64

0       3.040210
1       3.040210
2       3.040210
3       3.040210
4       3.040210
          ...
9115    4.143899
9116    4.143899
9117    4.143899
9118    4.143899
9119    4.143899
Name: temp, Length: 9120, dtype: float64

In [69]:
pogoda_df.sample(frac=1).sort_values('timestamp').groupby('date', as_index=False).first()

,date,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,nazwa_pliku,hour,pora_dnia,mean_temp_pora_dnia
0,2025-08-31,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,dane/pogoda/2025-08-31-daily.xlsx,23,noc,18.916757
1,2025-09-01,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,dane/pogoda/big.xlsx,0,noc,18.916757
2,2025-09-02,1756764092,18.23,18.30,17.13,18.95,1011,84,1.54,2025-09-02 00:01:32,dane/pogoda/2025-09-02-daily.xlsx,0,noc,18.916757
3,2025-09-03,1756850428,22.11,22.28,21.24,23.38,1010,73,3.13,2025-09-03 00:00:28,dane/pogoda/2025-09-03-daily.xlsx,0,noc,18.916757
4,2025-09-04,1756936858,16.58,16.67,15.00,18.95,1016,91,1.54,2025-09-04 00:00:58,dane/pogoda/big.xlsx,0,noc,18.916757
5,2025-09-05,1757023372,20.18,20.29,18.89,21.76,1016,78,2.06,2025-09-05 00:02:52,dane/pogoda/2025-09-05-daily.xlsx,0,noc,18.916757
6,2025-09-06,1757109769,20.49,20.76,19.07,21.88,1017,83,1.54,2025-09-06 00:02:49,dane/pogoda/2025-09-06-daily.xlsx,0,noc,18.916757
7,2025-09-07,1757196140,17.91,18.11,16.72,19.02,1021,90,4.12,2025-09-07 00:02:20,dane/pogoda/2025-09-07-daily.xlsx,0,noc,18.916757
8,2025-09-08,1757282424,17.28,17.39,16.11,18.54,1021,89,2.57,2025-09-08 00:00:24,dane/pogoda/big.xlsx,0,noc,18.916757

In [74]:
pogoda_df.sample(frac=1).sort_values('timestamp').groupby('date', as_index=False).last()

,date,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,nazwa_pliku,hour,pora_dnia,mean_temp_pora_dnia
0,2025-08-31,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,dane/pogoda/2025-08-31-daily.xlsx,23,noc,18.916757
1,2025-09-01,1756763850,18.23,18.30,17.13,18.95,1011,84,1.54,2025-09-01 23:57:30,dane/pogoda/2025-09-01-daily.xlsx,23,noc,18.916757
2,2025-09-02,1756850187,22.34,22.51,21.24,23.42,1010,72,3.13,2025-09-02 23:56:27,dane/pogoda/big.xlsx,23,noc,18.916757
3,2025-09-03,1756936647,16.58,16.67,15.00,18.95,1016,91,1.54,2025-09-03 23:57:27,dane/pogoda/2025-09-03-daily.xlsx,23,noc,18.916757
4,2025-09-04,1757023010,20.20,20.31,18.89,21.76,1016,78,2.06,2025-09-04 23:56:50,dane/pogoda/2025-09-04-daily.xlsx,23,noc,18.916757
5,2025-09-05,1757109558,20.49,20.76,19.07,21.88,1017,83,1.54,2025-09-05 23:59:18,dane/pogoda/big.xlsx,23,noc,18.916757
6,2025-09-06,1757195718,17.59,17.83,16.72,18.94,1021,93,4.12,2025-09-06 23:55:18,dane/pogoda/big.xlsx,23,noc,18.916757
7,2025-09-07,1757282274,17.32,17.43,16.11,18.54,1021,89,2.57,2025-09-07 23:57:54,dane/pogoda/big.xlsx,23,noc,18.916757
8,2025-09-08,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,dane/pogoda/big.xlsx,13,południe,23.078143

In [76]:
pogoda_df.sample(frac=1).sort_values('temp').groupby('date', as_index=False).first()

,date,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,nazwa_pliku,hour,pora_dnia,mean_temp_pora_dnia
0,2025-08-31,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,dane/pogoda/2025-08-31-daily.xlsx,23,noc,18.916757
1,2025-09-01,1756707829,15.89,15.96,15.05,16.86,1012,93,3.09,2025-09-01 08:23:49,dane/pogoda/big.xlsx,8,rano,19.194688
2,2025-09-02,1756784095,16.17,16.24,15.13,17.35,1011,92,1.03,2025-09-02 05:34:55,dane/pogoda/big.xlsx,5,noc,18.916757
3,2025-09-03,1756935894,16.41,16.51,15.00,17.91,1016,92,1.54,2025-09-03 23:44:54,dane/pogoda/big.xlsx,23,noc,18.916757
4,2025-09-04,1756959415,14.58,14.52,12.78,16.24,1016,93,1.03,2025-09-04 06:16:55,dane/pogoda/2025-09-04-daily.xlsx,6,noc,18.916757
5,2025-09-05,1757045451,17.46,17.59,15.75,19.02,1015,89,2.06,2025-09-05 06:10:51,dane/pogoda/2025-09-05-daily.xlsx,6,noc,18.916757
6,2025-09-06,1757126958,17.34,17.56,16.68,18.49,1018,93,3.13,2025-09-06 04:49:18,dane/pogoda/big.xlsx,4,noc,18.916757
7,2025-09-07,1757223043,15.60,15.70,14.49,16.76,1022,95,3.09,2025-09-07 07:30:43,dane/pogoda/2025-09-07-daily.xlsx,7,rano,19.194688
8,2025-09-08,1757303695,15.02,15.06,14.15,16.16,1020,95,3.09,2025-09-08 05:54:55,dane/pogoda/big.xlsx,5,noc,18.916757

In [78]:
pogoda_df \
    .sample(frac=1) \
    .sort_values('temp') \
    .groupby('date', as_index=False) \
    .first()

,date,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,nazwa_pliku,hour,pora_dnia,mean_temp_pora_dnia
0,2025-08-31,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,dane/pogoda/2025-08-31-daily.xlsx,23,noc,18.916757
1,2025-09-01,1756707829,15.89,15.96,15.05,16.86,1012,93,3.09,2025-09-01 08:23:49,dane/pogoda/big.xlsx,8,rano,19.194688
2,2025-09-02,1756783131,16.17,16.24,15.13,17.35,1010,92,1.54,2025-09-02 05:18:51,dane/pogoda/2025-09-02-daily.xlsx,5,noc,18.916757
3,2025-09-03,1756935894,16.41,16.51,15.00,17.91,1016,92,1.54,2025-09-03 23:44:54,dane/pogoda/big.xlsx,23,noc,18.916757
4,2025-09-04,1756959565,14.58,14.52,12.78,16.24,1016,93,1.03,2025-09-04 06:19:25,dane/pogoda/2025-09-04-daily.xlsx,6,noc,18.916757
5,2025-09-05,1757045451,17.46,17.59,15.75,19.02,1015,89,2.06,2025-09-05 06:10:51,dane/pogoda/2025-09-05-daily.xlsx,6,noc,18.916757
6,2025-09-06,1757126958,17.34,17.56,16.68,18.49,1018,93,3.13,2025-09-06 04:49:18,dane/pogoda/2025-09-06-daily.xlsx,4,noc,18.916757
7,2025-09-07,1757223043,15.60,15.70,14.49,16.76,1022,95,3.09,2025-09-07 07:30:43,dane/pogoda/big.xlsx,7,rano,19.194688
8,2025-09-08,1757303695,15.02,15.06,14.15,16.16,1020,95,3.09,2025-09-08 05:54:55,dane/pogoda/big.xlsx,5,noc,18.916757

In [83]:
(
pogoda_df
    .sample(frac=1)
    .sort_values('temp')
    .groupby('date', as_index=False)
    .first()
)

,date,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,nazwa_pliku,hour,pora_dnia,mean_temp_pora_dnia
0,2025-08-31,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,dane/pogoda/2025-08-31-daily.xlsx,23,noc,18.916757
1,2025-09-01,1756707859,15.89,15.96,15.05,16.86,1012,93,3.09,2025-09-01 08:24:19,dane/pogoda/2025-09-01-daily.xlsx,8,rano,19.194688
2,2025-09-02,1756783161,16.17,16.24,15.13,17.35,1010,92,1.54,2025-09-02 05:19:21,dane/pogoda/2025-09-02-daily.xlsx,5,noc,18.916757
3,2025-09-03,1756935894,16.41,16.51,15.00,17.91,1016,92,1.54,2025-09-03 23:44:54,dane/pogoda/2025-09-03-daily.xlsx,23,noc,18.916757
4,2025-09-04,1756959415,14.58,14.52,12.78,16.24,1016,93,1.03,2025-09-04 06:16:55,dane/pogoda/2025-09-04-daily.xlsx,6,noc,18.916757
5,2025-09-05,1757045451,17.46,17.59,15.75,19.02,1015,89,2.06,2025-09-05 06:10:51,dane/pogoda/big.xlsx,6,noc,18.916757
6,2025-09-06,1757126958,17.34,17.56,16.68,18.49,1018,93,3.13,2025-09-06 04:49:18,dane/pogoda/2025-09-06-daily.xlsx,4,noc,18.916757
7,2025-09-07,1757223043,15.60,15.70,14.49,16.76,1022,95,3.09,2025-09-07 07:30:43,dane/pogoda/2025-09-07-daily.xlsx,7,rano,19.194688
8,2025-09-08,1757303695,15.02,15.06,14.15,16.16,1020,95,3.09,2025-09-08 05:54:55,dane/pogoda/2025-09-08-daily.xlsx,5,noc,18.916757

In [80]:
( 1 )

1

In [81]:
( 1 , )

(1,)