In [1]:
import pandas as pd

In [2]:
pogoda_df = pd.read_excel("dane/pogoda/big.xlsx")
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx

In [3]:
temp_q1 = pogoda_df['temp'].quantile(0.25)
temp_q3 = pogoda_df['temp'].quantile(0.75)
temp_iqr = temp_q3 - temp_q1

In [4]:
temp_q1 - temp_iqr

np.float64(12.880000000000003)

In [5]:
temp_q3 + temp_iqr

np.float64(26.889999999999997)

In [6]:
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx
...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx

In [7]:
pogoda_df.loc[
    (pogoda_df['temp'] < (temp_q1 - temp_iqr) )
    | (pogoda_df['temp'] > (temp_q3 + temp_iqr) )
    ,
    "outlier"
    ] = True

In [8]:
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,outlier
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,NaN
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,NaN
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,NaN
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,NaN
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx,NaN
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx,NaN
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx,NaN
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx,NaN
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx,NaN

In [9]:
pogoda_df.loc[
    (pogoda_df['temp'] >= (temp_q1 - temp_iqr) )
    & (pogoda_df['temp'] <= (temp_q3 + temp_iqr) )
    ,
    'outlier'
    ] = False

In [10]:
pogoda_df[pogoda_df['temp'] > (temp_q3 + 1.5 * temp_iqr)]

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,outlier
924,1756809969,29.98,32.03,28.15,30.75,1009,56,4.83,2025-09-02 12:46:09,2025-09-02,dane/pogoda/2025-09-02-daily.xlsx,True
925,1756810390,31.16,33.30,28.15,31.32,1009,52,4.83,2025-09-02 12:53:10,2025-09-02,dane/pogoda/2025-09-02-daily.xlsx,True
926,1756810451,31.16,33.30,28.15,31.32,1009,52,4.83,2025-09-02 12:54:11,2025-09-02,dane/pogoda/2025-09-02-daily.xlsx,True
927,1756810541,29.39,31.37,27.13,30.75,1009,58,5.66,2025-09-02 12:55:41,2025-09-02,dane/pogoda/2025-09-02-daily.xlsx,True
928,1756810571,30.33,32.45,27.13,30.77,1009,55,5.66,2025-09-02 12:56:11,2025-09-02,dane/pogoda/2025-09-02-daily.xlsx,True
...,...,...,...,...,...,...,...,...,...,...,...,...
7389,1757081136,29.26,29.88,28.39,30.21,1014,49,1.54,2025-09-05 16:05:36,2025-09-05,dane/pogoda/big.xlsx,True
7390,1757081588,29.25,29.99,27.84,30.65,1014,50,1.54,2025-09-05 16:13:08,2025-09-05,dane/pogoda/big.xlsx,True
7391,1757081649,29.25,29.99,27.84,30.65,1014,50,1.54,2025-09-05 16:14:09,2025-09-05,dane/pogoda/big.xlsx,True
7392,1757081739,29.25,29.99,27.84,30.65,1014,50,1.54,2025-09-05 16:15:39,2025-09-05,dane/pogoda/big.xlsx,True
7393,1757081799,29.25,29.99,27.84,30.65,1014,50,1.54,2025-09-05 16:16:39,2025-09-05,dane/pogoda/big.xlsx,True

In [11]:
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,outlier
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,False
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,False
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx,False
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx,False
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx,False
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx,False
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx,False

In [12]:
pogoda_df.value_counts('outlier')

outlier
False    8286
True      834
Name: count, dtype: int64

In [13]:
# nowa kolumna z kilku innych
pogoda_df['roznica_temp'] = pogoda_df['temp_max'] - pogoda_df['temp_min']
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,outlier,roznica_temp
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,False,2.62
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,False,2.50
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False,2.50
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False,2.50
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx,False,2.15
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx,False,2.15
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx,False,2.52
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx,False,2.52
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx,False,2.52

In [15]:
pogoda_df.value_counts('roznica_temp', normalize=True)

roznica_temp
0.98    0.034430
0.02    0.032456
2.30    0.032237
1.98    0.017544
1.82    0.016009
          ...
3.75    0.000219
3.83    0.000219
3.80    0.000219
3.84    0.000219
4.87    0.000219
Name: proportion, Length: 452, dtype: float64

In [16]:
pogoda_df.value_counts('outlier', normalize=True)

outlier
False    0.908553
True     0.091447
Name: proportion, dtype: float64

In [20]:
# apply na wierszach
pogoda_df['napis'] = pogoda_df.apply( lambda r: f"{r['temp_feels']} / {r['temp']} ({r['temp_max']})", axis=1 )
pogoda_df

,timestamp,temp,temp_feels,temp_min,temp_max,pressure,humidity,wind_speed,datetime,date,nazwa_pliku,outlier,roznica_temp,napis
0,1756677250,19.64,19.93,18.15,20.77,1013,87,3.09,2025-08-31 23:54:10,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,False,2.62,19.93 / 19.64 (20.77)
1,1756677371,19.48,19.70,18.15,20.65,1013,85,3.09,2025-08-31 23:56:11,2025-08-31,dane/pogoda/2025-08-31-daily.xlsx,False,2.50,19.7 / 19.48 (20.65)
2,1756677642,19.48,19.70,18.15,20.65,1013,85,3.09,2025-09-01 00:00:42,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False,2.50,19.7 / 19.48 (20.65)
3,1756677793,19.45,19.67,18.15,20.65,1013,85,3.09,2025-09-01 00:03:13,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False,2.50,19.67 / 19.45 (20.65)
4,1756678034,19.35,19.56,18.15,20.65,1012,85,3.60,2025-09-01 00:07:14,2025-09-01,dane/pogoda/2025-09-01-daily.xlsx,False,2.50,19.56 / 19.35 (20.65)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,1757329563,25.17,25.00,24.12,26.27,1018,48,6.17,2025-09-08 13:06:03,2025-09-08,dane/pogoda/big.xlsx,False,2.15,25.0 / 25.17 (26.27)
9116,1757329667,25.21,25.04,24.15,26.30,1018,48,6.17,2025-09-08 13:07:47,2025-09-08,dane/pogoda/big.xlsx,False,2.15,25.04 / 25.21 (26.3)
9117,1757329758,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:18,2025-09-08,dane/pogoda/big.xlsx,False,2.52,25.15 / 25.31 (26.67)
9118,1757329788,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:09:48,2025-09-08,dane/pogoda/big.xlsx,False,2.52,25.15 / 25.31 (26.67)
9119,1757330059,25.31,25.15,24.15,26.67,1018,48,6.17,2025-09-08 13:14:19,2025-09-08,dane/pogoda/big.xlsx,False,2.52,25.15 / 25.31 (26.67)